header {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.header {
    height: 80px;
    background-color: #B0C9D9;
    color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info {
    display: flex;
    margin: 0 -20px;
}
.header-info__item {
    margin: 0 20px;
}
.sub-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-header-container__menu {
    padding: 10px 0;
}
.sub-header-container__menu ul {
    margin: 0 -20px;
    display: flex;
    list-style: none;
}
.sub-header-container__menu ul li {
    margin: 0 20px;
}
.sub-header-container__menu ul li a {
    color: black;
    text-decoration: none;
}
.sub-header-container__menu ul li a:hover {
    color: #6093BF;
}
.sub-header-container__menu ul li .sub-header-menu__list_active {
    color: #6093BF;
}
.sub-header-container__cart {
    position: relative;
}
.cart {
    display: flex;
    color: black;
    text-decoration: none;
}
.cart:hover {
    color: #6093BF;
}
.cart:hover .cart__pic {
    background-image: url("src/assets/imgs/sc_a.svg");
    color: #6093BF;
}
.cart__pic {
    height: 20px;
    width: 20px;
    background-image: url("src/assets/imgs/sc.svg");
    background-size: cover;
    margin-right: 10px;
}
.header-info__item_phone {
    display: flex;
    align-items: center;
}
.item-phone-pic {
    width: 20px;
    height: 20px;
    background-image: url("src/assets/imgs/phone.svg");
    background-size: cover;
}
.header-container__logo {
    height: 100%;
    width: 150px;
    background-image: url("src/assets/imgs/logo.svg");
    background-size: cover;
}
.cartMainNum {
    user-select: none;
    height: 20px;
    width: 20px;
    border: 2px solid red;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: -7px;
    right: -20px;
    font-weight: bold;
    font-size: 12px;
}
.mobile-menu, .header-burger {
    display: none;
}

@media (max-width: 750px) {
    .header-info {
        display: none;
    }
    .header-burger {
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header-burger__element {
        width: 100%;
        height: 4px;
        background-color: #fff;
    }
    .sub-header {
        display: none;
    }
    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 280px;
        background-color: #fff;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    }
    .mobile-menu__menu {
        display: flex;
        align-items: center;
        height: 100%;
        ul {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
                width: 100%;
                height: 30px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    .mobile-menu-container {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .mobile-menu-close {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        background-color: black;
    }
}