<header>
    <div class="header">
        <div class="header-container container">
            <div class="header-container__logo"></div>
            <div class="header-info">
                <div class="header-info__item">
                    <p class="header-info__item_adress">
                        г.Москва ул. Новоалексеевская,<br>дом 4, корп.5, офис 109
                    </p>
                </div>
                <div class="header-info__item">
                    <div class="header-info__item_phone">
                        <div class="item-phone-pic"></div>
                        +7 (495) 687 50 77
                    </div>
                    <div class="header-info__item_phone">
                        <div class="item-phone-pic"></div>
                        +7 (916) 684 78 81
                    </div>
                </div>
            </div>
            <div class="header-burger" (click)="isMobileMenuOpen = !isMobileMenuOpen">
                <div class="header-burger__element"></div>
                <div class="header-burger__element"></div>
                <div class="header-burger__element"></div>
            </div>
        </div>
    </div>
    <div class="sub-header">
        <div class="sub-header-container container">
            <div class="sub-header-container__menu">
                <ul>
                    <li><a [routerLink]="['/']" routerLinkActive="sub-header-menu__list_active" [routerLinkActiveOptions]="{exact: true}">Каталог</a></li>
                    <li><a routerLink="/about" routerLinkActive="sub-header-menu__list_active">О нас</a></li>
                    <li><a routerLink="/pay" routerLinkActive="sub-header-menu__list_active">Оплата и доставка</a></li>
                    <li><a routerLink="/contacts" routerLinkActive="sub-header-menu__list_active">Контакты</a></li>
                </ul>
            </div>
            <div class="sub-header-container__cart">
                <a class="cart" routerLink="/cart">
                    <div class="cart__pic"></div>
                    <div class="cart__sign">Корзина</div>
                </a>
                <div class="cartMainNum" *ngIf="cartService.cartMainNum > 0">{{cartService.cartMainNum}}</div>
            </div>
        </div>
    </div>
    <div class="mobile-menu" *ngIf="isMobileMenuOpen">
        <div class="mobile-menu-container">
            <div class="mobile-menu__menu">
                <ul>
                    <li><a routerLink="/" routerLinkActive="sub-header-menu__list_active" [routerLinkActiveOptions]="{exact: true}">Каталог</a></li>
                    <li><a routerLink="/about" routerLinkActive="sub-header-menu__list_active">О нас</a></li>
                    <li><a routerLink="/pay" routerLinkActive="sub-header-menu__list_active">Оплата и доставка</a></li>
                    <li><a routerLink="/contacts" routerLinkActive="sub-header-menu__list_active">Контакты</a></li>
                </ul>
            </div>
            <div class="mobile-menu-close" (click)="isMobileMenuOpen = !isMobileMenuOpen"></div>
        </div>
    </div>
</header>
<div class="mobile-sub-header-container__cart">
    <a class="cart" routerLink="/cart">
        <div class="cart__pic"></div>
    </a>
    <div class="cartMainNum" *ngIf="cartService.cartMainNum > 0">{{cartService.cartMainNum}}</div>
</div>