<div class="dashboard-categories-container">
    <h1>Категории</h1>
    <div class="category-add" (click)="isAdding = true">Добавить категорию +</div>
    <div class="categories-list">
        <div class="categories-list__item" *ngFor="let category of categoriesList">
            <div class="list-item">
                <div class="list-item__item">{{category.name}}</div>
            </div>
            <div class="delete-item" (click)="deleteCategory(category.id)">Удалить</div>
        </div>
    </div>
</div>
<app-add-category *ngIf="isAdding" (onAdd)="addCategory($event)" (onClose)="isAdding = false"></app-add-category>