<div class="page-name container">
    Корзина
</div>
<div class="cart-container container">
    <div class="form-container" *ngIf="!isEmpty else emptycart">
        <form class="form" [formGroup]="form" (submit)="submitPur()">
            <div class="form__part">
                <div class="form-group" formGroupName="userData">
                    <p>Информация о заказчике</p>
                    <input type="text" placeholder="Имя" formControlName="name">
                    <input type="text" placeholder="Телефон" formControlName="phone">
                </div>
            </div>
           <div class="form__part">
            <div class="form-group">
                <p>Способ получения</p>
                <div class="form-group__line">
                    <input type="radio" id="get_type1" formControlName="getType" value="byself">
                    <label for="get_type1">Самовывоз</label>
                </div>
                <div class="form-group__line">
                    <input type="radio" id="get_type2" formControlName="getType" value="delivery">
                    <label for="get_type2">Доставка</label>
                </div>
            </div>
           </div>
            <div class="form__part" *ngIf="form.get('getType').value == 'delivery'">
                <div class="form-group" formGroupName="adress">
                    <p>Адрес доставки</p>
                    <input type="text" placeholder="Город" formControlName="city">
                    <input type="text" placeholder="Улица" formControlName="street">
                    <input type="text" placeholder="Дом" formControlName="house">
                    <input type="text" placeholder="Квартира" formControlName="appartments">
                </div>
            </div>
            <div class="form__part">
                <div class="form-group">
                    <div class="form-group__line">
                        <input type="checkbox" id="or_create_account" (change)="isCreateAccount = !isCreateAccount">
                        <label for="or_create_account">Создать аккаунт</label>
                    </div>
                    <p>Создайте аккант, чтобы отслеживать заказы.</p>
                    <div class="form-group__newaccount" *ngIf="isCreateAccount">
                        <input type="text" placeholder="E-mail">
                        <input type="text" placeholder="Пароль">
                    </div>
                </div>
            </div>
            <button type="submit" class="submit" [disabled]="form.invalid">Заказать</button>
        </form>
    </div>
</div>
<ng-template #emptycart>
    <p class="cart-empty" *ngIf="isEmpty">Ваша корзина пуста. Вы можете добавить желаемый товар в каталоге.</p>
</ng-template>
