<div class="page-name container">
    Корзина
</div>
<div class="cart-container container">
    <div class="form-container" *ngIf="!isEmpty else emptycart">
        <form class="form" [formGroup]="form" (submit)="submitPur()">
            <div class="form__part">
                <div class="form-group">
                    <p>Список товаров</p>
                    <div class="incartItem-line line_b">
                        <div class="incartItem__part">Название</div>
                        <div class="incartItem__part">Артикул</div>
                        <div class="incartItem__part">Количество</div>
                        <div class="incartItem__part">Стоимость</div>
                    </div>
                    <div class="incartItem" *ngFor="let item of items">
                        <div class="incartItem-line">
                            <div class="incartItem__part">{{item.name}}</div>
                            <div class="incartItem__part">{{item.articul}}</div>
                            <div class="incartItem__part">{{item.amount}}</div>
                            <div class="incartItem__part">{{(item.price * item.amount)|sum}}</div>
                        </div>
                    </div>
                    <div class="finalCost">
                        {{'Итого: ' + totalPrice|sum}}
                    </div>
                </div>
            </div>
            <div class="form__part">
                <div class="form-group" formGroupName="userData">
                    <p>Информация о заказчике</p>
                    <input type="text" placeholder="Имя" formControlName="name">
                    <input type="text" placeholder="Телефон" formControlName="phone">
                    <p class="error" 
                    *ngIf="form.get('userData').get('name').invalid && form.get('userData').get('name').touched || form.get('userData').get('phone').invalid && form.get('userData').get('phone').touched">
                        *Эти поля должны быть заполнены
                    </p>
                </div>
            </div>
           <div class="form__part">
            <div class="form-group">
                <p>Способ получения</p>
                <div class="form-group__line">
                    <input type="radio" id="get_type1" formControlName="getType" value="byself" (change)="changeGetType($event)" >
                    <label for="get_type1">Самовывоз</label>
                </div>
                <div class="form-group__line">
                    <input type="radio" id="get_type2" formControlName="getType" value="delivery" (change)="changeGetType($event)">
                    <label for="get_type2">Доставка</label>
                </div>
            </div>
           </div>
            <div class="form__part" *ngIf="form.get('getType').value == 'delivery'">
                <div class="form-group" formGroupName="adress">
                    <p>Адрес доставки</p>
                    <input type="text" placeholder="Город" formControlName="city">
                    <input type="text" placeholder="Улица" formControlName="street">
                    <input type="text" placeholder="Дом" formControlName="house">
                    <input type="text" placeholder="Квартира" formControlName="appartments">
                </div>
            </div>
            <!-- <div class="form__part">
                <div class="form-group">
                    <div class="form-group__line">
                        <input type="checkbox" id="or_create_account" (change)="createAccount()">
                        <label for="or_create_account">Создать аккаунт</label>
                    </div>
                    <p>Создайте аккант, чтобы отслеживать заказы.</p>
                    <div class="form-group__newaccount" *ngIf="isCreateAccount" formGroupName="account">
                        <input type="text" placeholder="E-mail" formControlName="email">
                    </div>
                </div>
            </div> -->
            <button type="submit" class="submit" [disabled]="form.invalid">Заказать</button>
        </form>
    </div>
</div>
<ng-template #emptycart>
    <p class="cart-empty" *ngIf="isEmpty">Ваша корзина пуста. Вы можете добавить желаемый товар в каталоге.</p>
</ng-template>
