<div class="admin-login-container">
    <div class="login-form">
        <div class="form">
            <form>
                <div class="form__part">
                    <label for="adminlogin">Логин</label>
                    <input type="text">
                </div>
                <div class="form__part">
                    <label for="adminpass">Пароль</label>
                    <input type="password">
                </div>
                <button type="submit" class="submit">Войти</button>
            </form>
        </div>
    </div>
</div>