.admin-login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__part {
    width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
input {
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 3px solid black;
}
input:focus {
    border-bottom: 3px solid #6093BF;
}
.submit {
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    margin-top: 50px;
    border: none;
    &:hover {
        color: white;
        background-color: #6093BF;
    }
}