.catalog-sort {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}
.sortby__select {
    font-size: 16px;
    border-style: none;
    border-bottom: 2px solid #6093BF;
    padding: 5px 0;
}