.catalog-items {
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
    .catalog-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .catalog-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .catalog-items {
        grid-template-columns: 1fr;
    }
}