.categories-title {
    font-size: 25px;
}
.categories ul {
    list-style: none;
    li {
        padding: 10px 10px;
        a {
            color: black;
            text-decoration: none;
            &.categories__list_active {
                color: #6093BF;
            }
        }
    }
}