@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a, button {
    transition: .3s;
    cursor: pointer;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}
.page-name {
    font-size: 30px;
    margin: 50px auto 20px;
}
button:disabled.submit {
    cursor: default;
    color:darkgray;
    background-color: #f1f1f1;
}
app-catalog-categories {
    width: 300px;
}
app-catalog {
    margin-left: 50px;
    flex: 1;
}

@media (max-width: 1200px) {
    app-catalog {
        margin-left: 0;
        width: 100%;
    }
    .container {
        padding: 0 20px;
    }
}