<div class="popup-bg">
    <div class="popup-window">
        <div class="popup-window__inside">
            <h2>Вход</h2>
            <form action="" class="form">
                <div class="form__part">
                    <label for="user-email">E-mail</label>
                    <input type="text" id="user-email">
                </div>
                <div class="form__part">
                    <label for="user-password" id="user-password">Пароль</label>
                    <input type="password">
                </div>
                <button>Войти</button>
            </form>
            <div class="close" (click)="userAuth.isActive = false"></div>
        </div>
    </div>
</div>